---
name: Action

on:
  - pull_request
  - push

jobs:
  Windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run local action (syntax only)
        uses: ./
        with:
          include: tests
          syntax-only: true
          verbose: true
      - name: Run local action (compile)
        uses: ./
        with:
          include: tests
          verbose: true
      - name: Print compiled files
        run: '(Get-ChildItem -Recurse -Path . -Include *.ex[45]).fullname'
        shell: powershell
  Linux:
    runs-on: ubuntu-latest
    container:
      image: ea31337/ea-tester:dev
    steps:
      - uses: actions/checkout@v3
      - name: Run local action (syntax only)
        uses: ./
        with:
          syntax-only: true
          verbose: true
      - name: Run local action (compile)
        uses: ./
        with:
          verbose: true
